[user]
    name = Atsushi Nakajyo
    email = jyotti@gmail.com
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
[core]
    editor = vim
    excludesfile = ~/.gitignore
[merge]
    tool = vimdiff
    ff = true
[push]
    default = upstream
[pull]
    rebaes = true
[alias]
    s   = status
    ss  = status --short --branch        # statusをコンパクトに
